// ------------------------------------
// Components > Announcement Bar
// ------------------------------------

.gh-announcement-bar-content p {
  font-size: 20px !important;
  font-family: var(--font-family-sansSerif) !important; // Using sansSerif as requested
  font-weight: var(--font-weight-normal) !important;
}
