// ------------------------------------
// Components > Card
// ------------------------------------

.c-card {
  &--center {
    * {
      text-align: center;
      justify-content: center;
    }
  }

  &__media {
    display: block;
    position: relative;
    padding-bottom: 66.6667%;
    aspect-ratio: var(--ratio-3x2);
    margin-bottom: var(--space-16);
    background-color: var(--color-background-secondary);

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, .1);
      opacity: 0;
      transition: ease opacity var(--motion-duration-fast);
    }

    @include hover() {
      &:after {
        opacity: 1;
      }
    }
  }

  &__image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    > * + * {
      margin-top: var(--space-8);
    }
  }

  &--center &__content {
    @include mq($from: desktop) {
      padding: 0 var(--space-32);
    }
  }

  &__headline {
    @include font($family: serif, $scale: 5, $weight: semibold);

    @include link_underline_on_hover();
  }

  &--large &__headline {
    @include mq($from: desktop) {
      @include font($scale: 8, $line-height: 9);
    }
  }

  &__standfirst {
    @include font($family: serif, $scale: 3, $line-height: 4);
    letter-spacing: -0.03em;
  }

  &--large &__standfirst {
    @include font($family: serif, $scale: 3, $line-height: 4);

    @include mq($from: desktop) {
      @include font($family: serif, $scale: 4, $line-height: 5);
    }
  }

  &__meta {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
  }

  &__byline { }

  &__timestamp { }

  &__comment-wrapper {
    display: inline-flex;
    align-items: center;
    gap: var(--space-4);
  }
}
