// ------------------------------------
// Tokens > Fonts
// ------------------------------------

// Inter
// https://rsms.me/inter/


// GhostFlow MH 

@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 200;
  src: url('https://fonts.bunny.net/spectral/files/spectral-latin-200-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Spectral';
  font-style: italic;
  font-weight: 200;
  src: url('https://fonts.bunny.net/spectral/files/spectral-latin-200-italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 300;
  src: url('https://fonts.bunny.net/spectral/files/spectral-latin-300-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Spectral';
  font-style: italic;
  font-weight: 300;
  src: url('https://fonts.bunny.net/spectral/files/spectral-latin-300-italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.bunny.net/spectral/files/spectral-latin-400-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Spectral';
  font-style: italic;
  font-weight: 400;
  src: url('https://fonts.bunny.net/spectral/files/spectral-latin-400-italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 500;
  src: url('https://fonts.bunny.net/spectral/files/spectral-latin-500-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Spectral';
  font-style: italic;
  font-weight: 500;
  src: url('https://fonts.bunny.net/spectral/files/spectral-latin-500-italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 600;
  src: url('https://fonts.bunny.net/spectral/files/spectral-latin-600-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Spectral';
  font-style: italic;
  font-weight: 600;
  src: url('https://fonts.bunny.net/spectral/files/spectral-latin-600-italic.woff2') format('woff2');
}

@font-face {
  font-family: 'kibitz-medium-pro';
  src: url('/assets/fonts/kibitz/kibitz-medium-pro.woff2') format('woff2'),
      url('/assets/fonts/kibitz/kibitz-medium-pro.woff') format('woff'),
      url('/assets/fonts/kibitz/kibitz-medium-pro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

