name: Deploy Theme
on:
  push:
    branches:
      - master
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      
      - name: Zip theme
        run: zip -r theme.zip .

      - name: Deploy Ghost Theme
        uses: TryGhost/action-deploy-theme@v1
        with:
          theme-name: tripoli
          api-url: ${{ secrets.GHOST_ADMIN_API_URL }}
          api-key: ${{ secrets.GHOST_ADMIN_API_KEY }}
          file: theme.zip
